body {
  margin: 0px;
  /* background: linear-gradient(90deg, #D3D3D3, #1C1C1C); */

  /* background-color: #2F2F2F ; */
  background: white;


}


 /* negro carbon   #1C1C1C; */

 /* rojo intenso #D72638 */

 /* gris oscuro  #2F2F2F */

 /* gris claro #D3D3D3 */

 section {
  position: relative;
  width: 100%;
}

#about, #contact, #services, #reviews {
  background: #202020c4;
}

#about {
  height: 100vh; /* Altura ajustable */
}

#services {
  height: 270vh; /* Altura ajustable */
}

#reviews {
  height: 100vh; /* Altura ajustable */

}

#contact {
  height: 100vh; /* Altura ajustable */
}
.home{
  padding: 10px;
  position: static;
}