body {
  margin: 0px;
  font-family: "Barlow Condensed", serif;
}

 section {
  position: relative;
  width: 100%;
}

#about, #contact, #services, #reviews {
  background: #202020c4;
}

#about {
  height: 100vh;
}

#services {
  height: 270vh;
}

#reviews {
  height: 100vh;

}

#contact {
  height: 100vh;
}
.home{
  padding: 10px;
  position: static;
}