/* Estilos generales */
.services-section {
  text-align: center;
}

.services-first-title{
  text-align: center;
  font-size: 1.9rem;
  font-weight: 400;

}

.services-section-container {
  padding-block: 100px;
}

.services-title {
  padding-top: 100px;
  font-size: 2.5rem;
  font-family: "Barlow Condensed", serif;
  font-weight: 200;
  margin-bottom: 3rem;
  color: #fcf7f7d2;
  animation: slide-down 1s ease-out forwards;
}

.services-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  padding: 10px;
  background-color: #202020c4;
border-radius: 10px;
width: 350px;
height: 250px;
padding-top: 25px;

}

/* Asegurar que todas las imágenes dentro de servicios sean responsive */
.service-card img {
  width: 100%; /* La imagen se ajusta al ancho del contenedor */
  max-width: 300px; /* Define un tamaño máximo */
  height: auto; /* Mantiene la proporción */
  display: block;
  margin: 0 auto; /* Centrar la imagen */
  border-radius: 8px; /* Opcional: Bordes redondeados */
}


.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Más sombra al hacer hover */
}

.service-icon {
  font-size: 3rem;
  color: #e63946; /* Rojo para los iconos */
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.service-icon:hover {
  color: #333; /* Negro al hacer hover sobre los iconos */
}

.service-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #e7e3e3f1;
  transition: color 0.3s ease;
  font-family: var(--font-geist-mono);
}

.service-card:hover .service-title {
  color: #e63946; /* Rojo al hacer hover sobre el título */
}

.service-description {
  font-size: 1.2rem;
  color: #aaa9a9; /* Gris para la descripción */
  line-height: 1.6;
  transition: color 0.3s ease;
}

.service-card:hover .service-description {
  color: #b1adad; /* Descripción en negro al hacer hover */
}
/* Ajustes para móviles */
@media (max-width: 768px) {
  .service-card img {
    max-width: 250px; /* Reducir el tamaño en pantallas pequeñas */
  }


    .service-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Más sombra al hacer hover */
    }
    
    .service-icon {
      font-size: 3rem;
      color: #e63946; /* Rojo para los iconos */
      margin-bottom: 1rem;
      transition: color 0.3s ease;
    }
    
    .service-icon:hover {
      color: #333; /* Negro al hacer hover sobre los iconos */
    }
    
    .service-title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: #e7e3e3f1;
      transition: color 0.3s ease;
      font-family: var(--font-geist-mono);
    }
    
    .service-card:hover .service-title {
      color: #e63946; /* Rojo al hacer hover sobre el título */
    }
    
  }


@media (max-width: 480px) {
  .service-card img {
    max-width: 200px; /* Más pequeño para móviles */
  }
}