.carousel {
    position: relative;
    max-width: 1;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  }
  
  .carousel-image {
    height: 1;
    width: 100%;
    display: block;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    display: flex; /* Cambia el modelo de caja del botón */
    align-items: center; /* Alinea verticalmente el contenido */
    justify-content: center; /* Alinea horizontalmente el contenido */
    width: 40px; /* Ajusta el tamaño del círculo */
    height: 40px; /* Ajusta el tamaño del círculo */
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  
  
  /* Estilo de los puntos de navegación (dots) */
  .carousel-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .dot.active {
    background-color: grey; /* Cambia el color del punto activo */
  }
  