.about-container {
  display: flex;
  flex-direction: column; /* Cambié la dirección a columna para permitir múltiples secciones */
  padding-top: 100px;
}

.about-item {
  display: flex;
  opacity: 0;
  transition: all 0.5s ease;
  margin-bottom: 40px;
}

.about-text p:first-of-type {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #fffbfbef; 
  background-color: #e63946; 
  display: inline; 
}


.about-item.left {
  flex-direction: row; 
  text-align: left;
  align-items: center; 
  transform: translateX(-30px);
}

.about-item.right {
  flex-direction: row-reverse; 
  text-align: right;
  align-items: center; 
  transform: translateX(30px);
}

.about-item.visible {
  opacity: 1;
  transform: translateX(0);
}

.about-content {
  display: flex; 
  align-items: center; 
}

.about-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  padding: 1rem;
}

.about-text {
  font-size: 1.2rem;
  color: #ffffffda;
  text-align: justify;
  padding: 1px 15px;
}


.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #ff5733;
  animation: fadeIn 1.5s ease-in-out;
}

.about-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 768px) {

  .about-content {
    display: flex; 
    flex-direction: column;
    align-items: center; 
  }
  .about-container {
    padding-top: 60px;
  }

  .about-item {
    flex-direction: column !important; 
    align-items: center;
    text-align: center;
  }

  .about-text {
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
  }

  .about-item.left,
  .about-item.right {
    transform: translateX(0);
  }

  .about-image {
    max-width: 90%;
    height: auto;
  }

  .left-images,
  .right-images {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-text p span.highlight {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .about-text p:first-of-type {
    font-size: 1.5rem;
  }
}
